form {
    margin-top:2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(65, 119, 219);
    width: 50%;
    margin-left: calc(25% - 30px);
    padding: 20px 30px 10px 30px;
    border: 1px solid lightsteelblue;
}

table + button {
    width: auto;
}